rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /messages/{docId} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid != null &&
										request.resource.data.text.size() < 255 &&
										request.auth.uid == request.resource.data.uid;
    }
  }
}
